@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
    display: flex;
}

/* フォロワーリストとユーザー検索ボタンの境界線 */
#confirm{
  border-bottom: 1px solid #000;
  background: #f2f2f2;
}

/* ユーザー検索ボタンの設置（2023/01/18）*/
.btn{
  color:#fff;
  border-radius: 10px;  /* //要素の境界の外側の角を丸める */
  padding: 5px;
  background:#186AC9;
  text-align: center; /* 中央ぞろえ */
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
    line-height: 2.0; /* 上下間隔開け */
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* ナビゲーションドロップダウンのためのCSS（2023/01/21） */
/* ナビゲーション全体設定 */
nav{
  background: #186AC9;
  color: #999;
  text-align: center; 中央ぞろい
}

/*2階層目以降は横並びにしない*/
nav ul ul{
	display: block;
}

/* 下の改装のulや矢印の起点にするためliにrelativeを指定 */
nav ul li{
  position: relative;
}

/* ナビゲーションのリンク設定 */
nav ul li a{
	display: block;
  text-decoration: none; /* テキストの装飾を行わない */
  color: #fff;
  padding: 20px 35px;
  transition: all .3s; /* 変化するすべてのプロパティへの適用 */
}

nav ul li li a{
	padding:10px 35px;
}

nav ul li a:hover{
	color: #fff;	
}

/*==矢印の設定*/
/*2階層目を持つliの矢印の設定*/
nav ul li.accordion::before{
	content:'';
	position: absolute;
	left:15px;
	top:25px;
	width:6px;
	height:6px;
  border-top: 2px solid #999; /* 要素の上側の境界のプロパティをすべて設定します。 */
  border-right:2px solid #999; /* 要素の右側の境界のプロパティをすべて設定します。 */
  transform: rotate(135deg);
}

/*3階層目を持つliの矢印の設定*/
nav ul ul li.accordion::before{
	content:'';
	position: absolute;
	left:6px;
	top:17px;
	width:6px;
	height:6px;
  border-top: 2px solid #fff;
  border-right:2px solid #fff;
  transform: rotate(45deg);
}

/*下の階層を持っているulの指定*/
nav li.accordion ul{
  /*絶対配置で位置を指定*/
	position: absolute;
	left:0;
	top:62px;
	z-index: 4;
  /* 形状の指定 */
	background:#fff;
	width:180px;
  /* はじめは非表示 */
	visibility: hidden;
	opacity: 0
  /* アニメーション設定 */
  transition: all .3s;
}

/* hoverしたら表示 */
nav li.accordion:hover > ul,
nav li.accordion ul li:hover > ul,
nav li.accordion:active > ul,
nav li.accordion ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/* ナビゲーションaタグの形状 */
nav li.accordion ul li a{
  color:#999;
  border-bottom:solid 1px rgba(255,255,255,0,6);
}

nav li.accordion ul li:last-child a{
  border-bottom:none;
}

nav li.accordion ul li a:hover,
nav li.accordion ul li a:active{
  background:#00044a;
}

/*==768px以下の形状*/

@media screen and (max-width:768px){
	nav{
		padding: 0;
	}
	
	nav ul{
		display: block;
	}
	
	nav li.accordion ul,
	nav li.accordion ul ul{
  	position: relative;
	left:0;
	top:0;
	width:100%;
	visibility:visible;/*JSで制御するため一旦表示*/
	opacity:1;/*JSで制御するため一旦表示*/
	display: none;/*JSのslidetoggleで表示させるため非表示に*/
	transition:none;/*JSで制御するためCSSのアニメーションを切る*/
}
	
nav ul li a{
	border-bottom:1px solid #ccc;
}

/*矢印の位置と向き*/

nav ul li.accordion::before{
	left:20px;	
}

nav ul ul li.accordion::before{
    transform: rotate(135deg);
	left:20px;
}
    
nav ul li.accordion.active::before{
    transform: rotate(-45deg);
}

}

.drawer-list {
  display:none;
  font-size: 15px;
  z-index: 100;
}


/* ナビゲーションドロップダウンのためのCSS　終わり（2023/01/21） */


/* アコーディオンメニューCSS */
/*チェックボックスを消す*/
/* .checkbox{
  display: none;
}
  */
/*アコーディオンの大きさと位置調整*/
/* .accordion{
  width: 600px;
  margin: 0 auto 20px;
} */

/*アコーディオンのラベルの設定*/
/* .accordion dt{
  /* background-color: #d3ffd8; */
} */

/* .accordion dt label{
  position: relative;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
} */
 
/*ラベル内の矢印の設定*/
/* .accordion dt label::after{
  content:'';
  display: block;
  border-left:7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0,-50%);
  transition:.4s .4s;
} */
 
/*表示される要素の基本設定*/
/* .accordion dd{
  height: 0;
  transition:.4s;
  overflow: hidden;
  padding: 0 20px;
  border: solid 2px transparent;
} */
 
/*ラベル内の矢印のアニメーション設定*/
/* .checkbox:checked ~ dl dt label::after{
  transform: translate(0,-50%) rotate(-180deg);  
} */
 
/*表示される要素のアニメーション設定*/
/* .checkbox:checked ~ dl dd{
  height: auto;
  padding: 10px 20px;
  /* border: solid 2px #d3ffd8; */
} */
