@charset "utf-8";
html{
  overflow-y: scroll;
  overflow-x:hidden;
}
html::-webkit-scrollbar{
  display:none;
}
body{
  /* padding-top:100%; */
}

/* リンクから― */
a{
  color: #fff;
}

/* ヘッダー */
header{
  background:#186AC9;
  top: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  width: 100%; /* ヘッダーの横幅を指定する */
  height: 50px; /* ヘッダーの高さを指定する */
  padding: 25px; /* ヘッダーの余白を指定する(上下左右) */
}

.header-wrap{
  display: flex;
  justify-content: space-between;

  margin: 0px 50px;
}

header img{
  width: 50px;
}

h1 img{
  width: 100px;
}

#head{
  display: flex;
  margin: 0px 0px 0px 0px;
}

#users {
  display: flex;
  position: relative;
  z-index: 10;
}

/* ヘッダー終わり */

/* アコーディオンメニューはじめ */
.menu {

}

.menu ul {
  display: none;
  font-size: 30px;
  /* z-index: 20; */
  position: absolute;
  text-align: center;

  top: 50px;
  left: -40px;
  width: 500px;
  margin: 25px 0px 0px -70px;
  width: 380px;

  border: solid 2px #00044a;
  line-height: 2.5;

  background-color: #ffffff;
}

.menu ul.active{
  display: block;
  position: absolute;
  z-index: 20;
}

.menu a {
  transition: .3%;
}
/* ホバー */
.menu ul a:hover {
  background-color:#00044a;
  color:#ffffff;
}
/* ホバー終わり */

.menu > li > a {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 30px;
}

.menu > li > a::after {
  content: '＞';
  transform: rotate(90deg);
}

.menu > li > a.active::after{
  transform: rotate(-90deg);
}

.menu > li > ul a{
  padding: 10px;
  display: block;
  background-color: rgb(255, 255, 255);
  color: rgb(124, 124, 124);
  border-bottom: 1px solid #00044a;
  height: 70px;
}

.menu > li > ul > li{
  display: block;
}

/* アコーディオンメニュー終わり */

/* フォロワーリストとユーザー検索ボタンの境界線 */
#confirm{
  border-bottom: 1px solid #000;
  max-width: 800px; /* デザインに合わせて幅を調整 */
  margin: 0 auto;
  padding: 40px;
}

/* ユーザー検索ボタンの設置（2023/01/18）*/
.btn,
.btn-search{
  font-size: 15px;
  color:#fff;
  border-radius: 10px;  /* //要素の境界の外側の角を丸める */
  padding: 10px;
  background:#186AC9;
  text-align: center; /* 中央ぞろえ */
}

/* サイドバー */
#side-bar {
  flex: 0 0 20%; 
  width: 20px;
  float: right;
  background: #ffffff;
  border-left: 1px solid #000; /* 左側に境界線を追加 */
  }

.btn{
  display: block;
  margin: 0 0 0 auto;
  width: 150px;
}

/* 中央寄せ */
.btn-search {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
  }

.btn:hover,
.btn-search:hover{
  color:#fff;
  border-radius: 10px;  /* //要素の境界の外側の角を丸める */
  padding: 10px;
  background:#419aff;
  text-align: center; /* 中央ぞろえ */
}


/* main content */
#row{
    display: flex;
    line-height: 2.0; /* 上下間隔開け */
}

#row > p{
  font-size: 20px;
  font-weight: bold;
}

#container{
    flex: 0 0 80%;
}

/* 必要に応じて編集しご自身でSNS課題のレイアウトのようにカスタマイズしてください。 */
.content{
  /* margin: 0 auto;
  padding: 40px; */
}

.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

.js-modal-open{
  color: #000;
  width: 60px; /* 画像のサイズに合わせて調整 */
  height: 60px; /* 画像のサイズに合わせて調整 */
  background: url('/images/edit.png') center/cover;
  overflow: hidden;
}
/* ナビゲーションドロップダウンのためのCSS　終わり（2023/01/21） */


/* フォーム始まり */

/* textareaのスタイル */
textarea {
  font-size: 20px;    /* フォントサイズを20ピクセルに設定 */
  border: none;       /* ボーダーなし */
  resize: none;       /* リサイズ不可 */
  width: 75%;         /* 幅を80%に設定 */
  min-height: 20%;  /* 最小高さを200ピクセルに設定 */
  outline: none;      /* アウトライン（枠）なし */
  margin: 20px 0;     /* 上下に20ピクセルの余白を設定 */
}

textarea::-webkit-scrollbar{
  display:none;
}

/* フォーカス時にinput要素のアウトラインを非表示にする */
input[type=text]:focus {
  outline: none;
}

/* 投稿ボタンのスタイル */
.custom-image-button {
  max-height: 120px;  /* 最大高さを100ピクセルに設定 */
  width: auto;        /* 幅を自動調整 */
  margin: 0 auto;     /* 中央寄せ */
}

/* ユーザーアイコンとフォームの親要素 */
.user-form-container {
  display: flex;      /* Flexboxを使用して子要素を横並びにする */
  align-items: center; /* 垂直方向の中央揃え */
  margin-left: 100px;
}

/* フォームとユーザーアイコンの絶対位置指定 */
.user-form-container img {
  width: 60px;
  margin-right: 20px; /* ユーザーアイコンとフォームの間隔を調整 */
}

.user-form-container form {
  position: relative; /* 相対位置指定 */
  width: 100%;        /* 幅100% */
}

/* 境界線のスタイル */
.form-divider {
  width: 100%;        /* 幅を100%に設定 */
  height: 10px;       /* 高さを10ピクセルに設定 */
  background-color: #ccc; /* 背景色を灰色に設定 */
}

/* フォーム終わり */

/* ツイートリストのコンテナ */
.container {
  /* max-width: 800px; */
   /* デザインに合わせて幅を調整 */
  /* margin: 0 auto; */
  /* padding: 40px; */
}

.container img{
  width: 60px;
}

table{
  width: 100%;
  margin: 0 auto;
}

/* 各ツイート行のスタイル */
.table-hover tr {
  border-bottom: 1px solid #ccc; 
  /* ツイート間にボーダーを追加 */

}

/* ツイートコンテンツのスタイル */
.table-hover td {
  padding: 20px;
  text-align: center; /* ツイート内容を中央寄せにする */
}

/* 編集、削除用ボタン　始まり */
.actions {
  display: flex;
  /* justify-content: space-between;  */
  /* アクションボタンを横に均等に配置 */
}

.icon-box{
  width: 60px; /* 画像をコンテナに合わせて表示 */
  height: 60px; /* 画像をコンテナに合わせて表示 */
}

.icon-box-trash {
  width: 60px; /* 画像のサイズに合わせて調整 */
  height: 60px; /* 画像のサイズに合わせて調整 */
  background:url('/images/trash-h.png');
  overflow: hidden; /* はみ出したコンテンツを非表示にする */
  background-size: cover; /* 画像をコンテナに合わせて表示 */
}

.icon-box-trash:hover {
  background-image: url('/images/trash.png'); /* 別の画像のパスに実際の画像のパスを置き換えてください */
  background-size: cover; /* 画像をコンテナに合わせて表示 */
}
/* 編集、削除用ボタン　終わり */


/* モーダルのスタイル */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* 半透明の背景色 */
}

.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

/* モーダル内のフォームの追加スタイル */
.modal_post {
  width: 100%;
  height: 100px; /* デザインに合わせて高さを調整 */
}

/* 必要に応じて他のフォーム要素のスタイルを追加 */

/* モーダルの閉じるボタン */
.js-modal-close {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}


figure{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 150px;
  margin-inline-end: 40px;
}

figure img{
  width: 70px;
}

li{
  list-style:none;
  /* border-bottom:1px solid #000; */
  display:flex;
}

.post-content{
  width:100%;
  padding:15px;
}

.post-content > div {
  display:flex;
  justify-content: space-between;
}

.post-name{
  margin-bottom:10px;
}

/* 編集、削除アイコン 開始*/
.post{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom:1px solid #000;
  padding: 15px;
}

.icon-img{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px; /* ボタンと投稿内容の間隔を調整 */
}


.edit-img{
  width: 60px; /* 画像のサイズに合わせて調整 */
  height: 60px; /* 画像のサイズに合わせて調整 */
  background: url('/images/edit.png') center/cover;
  overflow: hidden;
}

.edit-img,
.icon-delete{
    width: 60px;
    height: 60px;
    background-position: center/cover;
    overflow: hidden;
}

.icon-delete{
  width: 60px;
  height: 60px;
  background: url('/images/trash-h.png') center/cover;
  overflow: hidden;
}
.icon-delete:hover {
  width: 40px;
  height: 40px;
  background-image: url('/images/trash.png');
  overflow: hidden;
}
/* 編集、削除アイコン　終わり */

/* フォローリスト 呟き　始まり*/
.followList, .profile-detail{
  display: flex;
  font-family: arial;
  padding: 20px;
  margin-left: 100px;
}

.followList > h1{
  margin-right: 50px;
  font-size: 40px;
}

.followList img, .profile-detail img{
  width: 60px;
  display: flex;
  height: 60px; /* 画像の高さを指定 */
  object-fit: cover; /* 画像を保持比率を維持しながら表示エリアにフィットさせる */
  border-radius: 50%; /* 画像を丸くするための丸い枠線を追加（必要に応じて）*/
  margin-right: 10px; /* 画像間の隙間を設定（必要に応じて）*/
}

.followList > ul, .profile-detail{
  display: flex;
  margin-left: 20px;
  flex-wrap: wrap; /* 画像が枠をはみ出した場合に次の行に移行 */
  max-width: 700px; /* 枠の最大幅を指定 */
}

.line{
  border-bottom:10px solid #ccc;
}
.line2{
  border-bottom:1px solid #ccc;
}

.post-follow-block{
  border-bottom:1px solid #ccc;
}

.post-follow-content{
  width:100%;
  padding:15px;
}

.post-follow-content > div {
  display:flex;
  justify-content: space-between;
}
/* フォローリスト 呟き　終わり*/

/* 検索フォーム 始まり*/
/* スタイリング全体のコンテナ */
.search-form-container {
  display: flex;
  align-items: center;
  padding:80px;
}

/* 検索ボックスと検索ワードを包むコンテナ */
.search-container {
  display: flex;
  align-items: center;
}

/* 検索ボックス */
.search-box {
  font-size: 25px;
  padding: 15px;
  border:2px solid #868686;
  border-radius: 4px;
  margin-right: 20px;
  width: 400px; /* 必要に応じて幅を調整 */
}

/* 検索ワード */
.search-word {
  margin-left: 350px;
  font-size: 25px;
}

/* ボタンのコンテナ */
.button-container {
  display: flex;
}

/* 検索ボタン */
.search-button {

  border: none;

}

/* 検索フォーム終わり */

/* 検索結果　始まり */

/* ユーザーごとのコンテナ */
.user-container {
  background-color: #ffffff;
  /* ユーザーコンテナの背景色を指定 */
  /* padding: 50px; */
  /* ユーザーコンテナの内側の余白を指定 */
  margin-top: 50px;
  display: flex;
  /* 子要素を横に並べるように指定 */
  align-items: center;
  /* 子要素を縦方向に中央寄せに指定 */
  justify-content: center;
}

.user-details{
  display: flex;
  align-items: center;
  margin-right: 300px;
}

/* ユーザー名のスタイル */
.username {
  font-size: 25px;
  /* ユーザー名のフォントサイズを指定 */
}

/* ユーザー画像のスタイル */
.user-image {
max-width: 100px;
/* ユーザー画像の最大幅を指定 */
max-height: 100px;
/* ユーザー画像の最大高さを指定 */
border-radius: 50%;
/* 画像を円形にする */
margin-right: 50px;
/* 画像の右側の余白を指定 */
}

/* フォローボタン、フォロー解除ボタンのスタイル */
.follow-button, .unfollow-button {
padding: 8px 15px;
/* ボタンの内側の余白を指定 */
font-size: 14px;
/* ボタンのフォントサイズを指定 */
cursor: pointer;
/* カーソルをポインタに変更 */
border-radius: 10px;
transition: 0.5s;
}

/* フォローボタン */
.follow-button {
background-color: #007bff;
color: #fff;
border: 1px solid #007bff;
}

.follow-button:hover {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
  }

/* フォロー解除ボタンのスタイル */
.unfollow-button {
background-color: #dc3545;
/* フォロー解除ボタンの背景色を指定 */
color: #ffffff;
/* フォロー解除ボタンの文字色を指定 */
border: 1px solid #dc3545;
/* フォロー解除ボタンのボーダーを指定 */
}

.unfollow-button:hover {
  background-color: #fff;
  /* フォロー解除ボタンの背景色を指定 */
  color: #dc3545;
  /* フォロー解除ボタンの文字色を指定 */
  border: 1px solid #dc3545;
  /* フォロー解除ボタンのボーダーを指定 */
  }

/* 検索結果　終わり */

/* プロフィール全体　始まり */
.profile_edit_group {
  display: flex;
  padding: 100px;
  margin-left: 20%;
}

.profile_edit_group img{
  width: 60px;
  height: 60px;
}

/* プロフィール全体　終わり */

/* プロフィール編集 始まり*/
.profile_edit {
  width: fit-content;
  text-align: left;
}

/* フォームラベル */
.profile_edit label {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}

/* 変更フォーム */
.profile_edit input{
  width: 500px;
  border:1px solid #868686;
  background-color: #e4e4e4;
}

.profile_edit label, .profile_edit input {
  font-size: 25px;
  padding: 5px 0;
  float: left;
  clear: both;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.text-danger{
  color: red;
  margin-top: 5px;
top: 10px;
  text-align: center;
}

/* フォームグループ */
.form-group, .form-group_img {
  display: flex;
  padding: 25px;
}

.form-group_img input[type="file"] {
  width: 500px;
  height: 150px;
  background-color: #e4e4e4;
  border: 1px solid #868686; /* ボーダーのスタイルを指定 */
  padding: 10px; /* ボタンの内側の余白を追加 */
  /* color: transparent; */
}

.form-group_img input[type="file"]::placeholder {
  color: transparent;
}

/* エラーメッセージスタイル */
.form-group_img .text-danger {
  margin-top: 5px;
  color: red;
}

/* 更新ボタン */
.form-btn {
  font-size: 25px;
	display: block;
	text-align: center;
	text-decoration: none;
	width: 200px;
  height: 50px;
	margin: auto;
	border: 2px solid #ED3A50;
	background: #ED3A50;
	color: #fff;
	border-radius: 20px;
  transition: 0.5s;
}
.form-btn:hover {
  color: #ED3A50;
	background: #fff;
}
/* プロフィール編集　終わり */

/* プロフィール編集画面 始まり*/
.profile_detail{
  padding: 50px;
  display: flex;
}

.profile_detail > img {
  margin-left: 100px;
  width: 60px;
  height: 60px;
}

.profile_detail > ul > div {
  margin-top: 20px;
}

.profile_name,
.profile_bio {
  display: flex;
  margin-left: 20px; /* 適切なマージンに変更 */
}

.profile_name > li > h1,
.profile_bio > li > h1 {
  text-align: left;
  font-size: 25px;
}

.profile_name > li > p,
.profile_bio > li > p {
  text-align: left;
  font-size: 25px;
  margin-left: 300px;
}

.newfollow-btn,
.unfollow-btn {
  margin-left: 400px;
  padding: 8px 15px;
  /* ボタンの内側の余白を指定 */
  font-size: 14px;
  /* ボタンのフォントサイズを指定 */
  cursor: pointer;
  /* カーソルをポインタに変更 */
  border-radius: 10px;
  transition: 0.5s;
  }

/* フォローボタン */
.newfollow-btn {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  }
  
  .newfollow-btn:hover {
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    }
  
  /* フォロー解除ボタンのスタイル */
  .unfollow-btn {
  background-color: #dc3545;
  /* フォロー解除ボタンの背景色を指定 */
  color: #ffffff;
  /* フォロー解除ボタンの文字色を指定 */
  border: 1px solid #dc3545;
  /* フォロー解除ボタンのボーダーを指定 */
  }
  
  .unfollow-btn:hover {
    background-color: #fff;
    /* フォロー解除ボタンの背景色を指定 */
    color: #dc3545;
    /* フォロー解除ボタンの文字色を指定 */
    border: 1px solid #dc3545;
    /* フォロー解除ボタンのボーダーを指定 */
    }


/* プロフィール編集画面　終わり */