@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* アコーディオンメニューCSS */
/*チェックボックスを消す*/
.checkbox{
  display: none;
}
 
/*アコーディオンの大きさと位置調整*/
.accordion{
  width: 600px;
  margin: 0 auto 20px;
}
 
/*アコーディオンのラベルの設定*/
.accordion dt{
  /* background-color: #d3ffd8; */
}
 
.accordion dt label{
  position: relative;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
}
 
/*ラベル内の矢印の設定*/
.accordion dt label::after{
  content:'';
  display: block;
  border-left:7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0,-50%);
  transition:.4s .4s;
}
 
/*表示される要素の基本設定*/
.accordion dd{
  height: 0;
  transition:.4s;
  overflow: hidden;
  padding: 0 20px;
  border: solid 2px transparent;
}
 
/*ラベル内の矢印のアニメーション設定*/
.checkbox:checked ~ dl dt label::after{
  transform: translate(0,-50%) rotate(-180deg);  
}
 
/*表示される要素のアニメーション設定*/
.checkbox:checked ~ dl dd{
  height: auto;
  padding: 10px 20px;
  /* border: solid 2px #d3ffd8; */
}